:root {
  --title-color: #212121;
  --text-color: #757575;
  --white: #ffffff;
  --akcent-color: #2196f3;
  --link-color: rgba(255, 255, 255, 0.6);
  --logo2-color: #000000;
  --baner-bcg-color: #2f303a;
  --gray-bcg-color: #f5f4fa;
  --border-header: #ececec;
  --border-portfolio: #eeeeee;
}

body {
  color: var(--title-color);
  background-color: var(--white);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.item .link:hover,
.item .link:focus,
.item .link:active {
  color: var(--akcent-color);
  cursor: pointer;
}
/*header
.page-header {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}*/
/*logo*/
.flexbox {
  display: flex;
}
/*style for section*/
.section {
  padding: 94px 0;
}

/*style for title*/
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.logo-web {
  color: var(--akcent-color);

  font-family: Raleway, sans-serif;
}
.logo {
  margin-right: 93px;
  color: var(--logo2-color);
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}
.page-header {
  padding: 25px 0;
  border-bottom: 1px solid var(--border-header);
}

.page-header .flexbox {
  align-items: center;
}

/*site-nav*/
.navigation {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 0px;
}

.site-nav .link {
  padding: 32px 0;

  color: var(--title-color);
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .active {
  color: var(--akcent-color);
  text-decoration: none;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

/* adress header*/
/*link style*/
.site-adr {
  display: flex;
  margin-left: auto;
  letter-spacing: 0.02em;
  border: none;
}
.site-adr .item:not(:last-child) {
  margin-right: 50px;
}

.site-adr a {
  color: var(--text-color);
  text-decoration: none;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/*main*/
/*style fo rposter section*/

.poster-section {
  /*poster style*/
  padding: 200px 0;
  text-align: center;
  color: var(--white);
  background: var(--baner-bcg-color);
  text-align: center;
}
/*button style poster section*/
.poster-title {
  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;

  text-transform: uppercase;
  /* стили для кнопки заказать услугу */
}
.button {
  padding: 10px 32px;
  min-width: 136px;
  background: var(--akcent-color);
  color: var(--white);

  font-family: inherit;
  font-size: 16px;
  line-height: 1.9;
  border: 1px solid var(--akcent-color);
  border-radius: 4px;

  align-items: center;
  letter-spacing: 0.06em;
}

/*style for advantage section*/
.advantage {
  padding-bottom: 0px;
}
.advantage-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list-advantage {
  flex-wrap: wrap;
  /* margin-top: 0px;
  margin-bottom: 0px; */
}
.item-advantage {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.item-advantage:nth-child(4n) {
  margin-right: 0px;
}

.list-advantage .title {
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
  list-style: none;
}

.paragraph-adv {
  color: var(--text-color);
  margin: 0;

  font-weight: 400;
  line-height: 1.7;
}

/*style for чем мы занимаемся*/
.work-list {
  flex-wrap: flex;
}
.work-list .item:nth-child(3n) {
  margin-right: 0px;
}
.work-list .item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

/*style for command*/
.command {
  background: var(--gray-bcg-color);
}
.item-command:nth-child(4n) {
  margin-right: 0px;
}
.item-command {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* padding for comands name and profeccion */
.comander-container {
  padding: 30px 0;
}

.item-command .title {
  margin-top: 0px;
  margin-bottom: 10 px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.decor {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.comand-list p {
  margin: 0;

  color: var(---text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/*footer*/
.page-foter {
  background: var(--baner-bcg-color);
  font-weight: 400;
  line-height: 1.7;
}
/* описываем контейнер контактов в футере, задаю верхний и нижний падинги*/
.foter-container {
  padding: 60px 0;
}
.logo-foter {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white);
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
}
.asdress {
  margin: 0;
  flex-direction: column;
}
.foter-container .footer-link {
  margin-top: 9px;
  margin-bottom: 0px;
}
.adress .paragraph {
  margin: 0;

  color: var(--white);
  font-style: normal;
}
.adress .link {
  display: block;
  color: var(--link-color);
  text-decoration: none;
  font-style: normal;
}

.adress .link:hover,
.adress .link:focus {
  color: var(--akcent-color);
  cursor: pointer;
}

/*style for portfolio*
/*title portfolio*/

/*style for button portfolio*/
.list-button {
  justify-content: center;
  padding-bottom: 50px;
}
.item-btn:not(:last-child) {
  margin-right: 8px;
}

/* position for button portfolio*/

.button-portfolio {
  padding: 6px 22px;
  color: var(--title-color);
  background: var(--gray-bcg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  border: none;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white);
  background: var(--akcent-color);
  cursor: pointer;
}
/*grid for servse list*/

.list-service {
  flex-wrap: wrap;
}
.item-servise {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-left: 0px;
  margin-bottom: 30px;

  border: 1px solid var(--border-portfolio);
}

.item-servise:nth-child(3n) {
  margin-right: 0px;
}
.item-servise:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.servise-container {
  padding: 20px 24px;
}
/*portfolio service*/
.list-service a {
  text-decoration: none;
}

.title-service {
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 2;
}
.list-service .text {
  margin: 0px;

  color: var(--text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}
